In [2]:
import re
import pandas as pd

In [3]:
f = open('WhatsAppChat.txt', 'r', encoding = 'utf-8')

In [4]:
data = f.read()

In [1]:
print(data)

NameError: name 'data' is not defined

In [6]:
pattern = r'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'

In [7]:
messages = re.split(pattern, data)[1:]

In [8]:
dates = re.findall(pattern, data)

In [11]:
df = pd.DataFrame({'user_message': messages})
    # convert message_date type
df['message_date'] = pd.to_datetime(df['message_date'], format='%m/%d/%y, %H:%M - ')

df.rename(columns={'message_date': 'date'}, inplace=True)
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. N... 2023-10-21 21:54:00
1               You created group "ðŸŽ‰Deal bonanzaðŸŽ‰"\n 2023-10-21 21:54:00
2  Vidhi Rastogi: Bhai isme or logo ko add Karo o... 2023-10-21 21:55:00
3  Vidhi Rastogi: Jisme ya to links jo products ke\n 2023-10-21 21:55:00
4  Vidhi Rastogi: Ya phir products ke related FAQ... 2023-10-21 21:55:00

In [12]:
df.shape

(67, 2)

In [13]:
users = []
messages = []
for message in df['user_message']:
    entry = re.split('([\w\W]+?):\s', message)
    try:
        user = entry[1]
        message_text = entry[2]
    except IndexError:
        user = 'group_notification'
        message_text = entry[0]
    users.append(user)
    messages.append(message_text)

df['user'] = users
df['message'] = messages
df.drop(columns=['user_message'], inplace=True)
df.head()

,date,user,message
0,2023-10-21 21:54:00,group_notification,Messages and calls are end-to-end encrypted. N...
1,2023-10-21 21:54:00,group_notification,"You created group ""ðŸŽ‰Deal bonanzaðŸŽ‰""\n"
2,2023-10-21 21:55:00,Vidhi Rastogi,Bhai isme or logo ko add Karo or unhe bolo ki ...
3,2023-10-21 21:55:00,Vidhi Rastogi,Jisme ya to links jo products ke\n
4,2023-10-21 21:55:00,Vidhi Rastogi,Ya phir products ke related FAQ ho or reviews ...

In [14]:
df['year'] = df['date'].dt.year

In [15]:
df.head()

,date,user,message,year
0,2023-10-21 21:54:00,group_notification,Messages and calls are end-to-end encrypted. N...,2023
1,2023-10-21 21:54:00,group_notification,"You created group ""ðŸŽ‰Deal bonanzaðŸŽ‰""\n",2023
2,2023-10-21 21:55:00,Vidhi Rastogi,Bhai isme or logo ko add Karo or unhe bolo ki ...,2023
3,2023-10-21 21:55:00,Vidhi Rastogi,Jisme ya to links jo products ke\n,2023
4,2023-10-21 21:55:00,Vidhi Rastogi,Ya phir products ke related FAQ ho or reviews ...,2023

In [16]:
df['month'] = df['date'].dt.month_name()
df.head()

,date,user,message,year,month
0,2023-10-21 21:54:00,group_notification,Messages and calls are end-to-end encrypted. N...,2023,October
1,2023-10-21 21:54:00,group_notification,"You created group ""ðŸŽ‰Deal bonanzaðŸŽ‰""\n",2023,October
2,2023-10-21 21:55:00,Vidhi Rastogi,Bhai isme or logo ko add Karo or unhe bolo ki ...,2023,October
3,2023-10-21 21:55:00,Vidhi Rastogi,Jisme ya to links jo products ke\n,2023,October
4,2023-10-21 21:55:00,Vidhi Rastogi,Ya phir products ke related FAQ ho or reviews ...,2023,October

In [17]:
del df['Year']
df.head()

KeyError: 'Year'

In [ ]:
df['day'] = df['date'].dt.day
df.head()

In [ ]:
df['hour'] = df['date'].dt.hour
df.head()

In [18]:
df['minute'] = df['date'].dt.minute
df.head()

,date,user,message,year,month,minute
0,2023-10-21 21:54:00,group_notification,Messages and calls are end-to-end encrypted. N...,2023,October,54
1,2023-10-21 21:54:00,group_notification,"You created group ""ðŸŽ‰Deal bonanzaðŸŽ‰""\n",2023,October,54
2,2023-10-21 21:55:00,Vidhi Rastogi,Bhai isme or logo ko add Karo or unhe bolo ki ...,2023,October,55
3,2023-10-21 21:55:00,Vidhi Rastogi,Jisme ya to links jo products ke\n,2023,October,55
4,2023-10-21 21:55:00,Vidhi Rastogi,Ya phir products ke related FAQ ho or reviews ...,2023,October,55

In [19]:
words = []
for message in df['message']:
    words.extend((message.split()))

len(words)

535

In [25]:
chat_df = {"User" :df['user'], "Message" : df['message']}

In [26]:
chat_df

{'User': 0     group_notification
 1     group_notification
 2          Vidhi Rastogi
 3          Vidhi Rastogi
 4          Vidhi Rastogi
              ...
 62             prerna b6
 63       +91 70426 40270
 64         Vidhi Rastogi
 65                Varuni
 66         Vidhi Rastogi
 Name: user, Length: 67, dtype: object,
 'Message': 0     Messages and calls are end-to-end encrypted. N...
 1                  You created group "ðŸŽ‰Deal bonanzaðŸŽ‰"\n
 2     Bhai isme or logo ko add Karo or unhe bolo ki ...
 3                    Jisme ya to links jo products ke\n
 4     Ya phir products ke related FAQ ho or reviews ...
                             ...
 62                                         very poorr\n
 63                     i did not receive the cashback\n
 64                               We will look into it\n
 65       The product works fine and is affordable too\n
 66    Voltas 1.4 Ton 3 Star Inverter Split AC at Rs....
 Name: message, Length: 67, dtype: object}

In [27]:
chat_df = pd.DataFrame(chat_df)

In [28]:
chat_df

                  User                                            Message
0   group_notification  Messages and calls are end-to-end encrypted. N...
1   group_notification               You created group "ðŸŽ‰Deal bonanzaðŸŽ‰"\n
2        Vidhi Rastogi  Bhai isme or logo ko add Karo or unhe bolo ki ...
3        Vidhi Rastogi                 Jisme ya to links jo products ke\n
4        Vidhi Rastogi  Ya phir products ke related FAQ ho or reviews ...
..                 ...                                                ...
62           prerna b6                                       very poorr\n
63     +91 70426 40270                   i did not receive the cashback\n
64       Vidhi Rastogi                             We will look into it\n
65              Varuni     The product works fine and is affordable too\n
66       Vidhi Rastogi  Voltas 1.4 Ton 3 Star Inverter Split AC at Rs....

[67 rows x 2 columns]

In [35]:
for c in chat_df[chat_df["User"]== "Vidhi Rastogi"]["Message"]:
    if "https" in c:
        print(True)
    else:
        print(False)

False
False
False
False
False
False
False
True
False
True
False
False
False
True